@use '../sass/colors' as *;
@use '../sass/fonts' as *;
@mixin nav-highlight {
  &::before {
    position: absolute;
    content: '';
    bottom: -55%;
    left: 0;
    right: 0;
    height: 0.2em;
    opacity: 0;
    transition:
      background-color 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
  }
  &:hover::before {
    background-color: $green-500;
    opacity: 1;
  }
}

@mixin flex-base($row-gap, $col-gap) {
  display: flex;
  @if $row-gap and $col-gap {
    gap: $row-gap $col-gap;
  } @else if $row-gap {
    gap: $row-gap;
  } @else if $col-gap {
    gap: $col-gap;
  }
}

@mixin flex-row ($row-gap: null, $col-gap: null) {
  @include flex-base($row-gap, $col-gap);
  flex-direction: row;
}
@mixin flex-column($row-gap: null, $col-gap: null) {
 @include flex-base($row-gap, $col-gap);
  flex-direction: column;
}
@mixin flex-column-center($row-gap: null, $col-gap: null) {
  @include flex-column($row-gap, $col-gap);
  align-items: center;
}
@mixin flex-columns-items-center($row-gap: null, $col-gap: null) {
  @include flex-column-center($row-gap, $col-gap);
  justify-content: center;
}
@mixin flex-columns-items-between($row-gap: null, $col-gap: null) {
  @include flex-column-center($row-gap, $col-gap);
  justify-content: space-between;
}
@mixin flex-columns-items-end($row-gap: null, $col-gap: null) {
  @include flex-column-center($row-gap, $col-gap);
  justify-content: space-between;
  align-items: end;
}
@mixin flex-row-center-between($row-gap: null, $col-gap: null) {
  @include flex-base($row-gap, $col-gap);
  justify-content: space-between;
  align-items: center;
}
@mixin image-display {
  display: block;
  width: 100%;
}

$bp-tablet: 48em;
$bp-desktop-medium: 62em;
$bp-desktop-large: 68.75em;
$bp-desktop-xl: 81.25em;
$bp-desktop-xxl: 90em;

@mixin grid-container($columns, $gap-row: 0, $gap-col: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  gap: $gap-row $gap-col;
}
@mixin grid-column($column-start, $column-end){
  grid-column: #{$column-start} / #{$column-end};
}