@use "./colors" as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button{
  font-family: inherit;
  cursor: pointer;
  font-size: inherit;
}
li{
  list-style-type: none;
  font-family: inherit;
}
a{
  text-decoration: none;
  font-family: inherit;
  color: $gray-600;
  cursor: pointer;
}